/** 
  * The polish.css files contains all
  * design information about a project.
  * It can be adjusted for specific devices
  * or device groups by putting it in the 
  * appropriate sub-folder.
  * If you want to adjust a design for all
  * Nokia devices, define it in "resources/Nokia/polish.css"
  * and so on. Only new and different settings
  * need to be specified in such polish.css files. 
  */

/**
  * the colors which are defined in
  * the colors section can later be referenced.
  * This makes changes easy, since the color
  * just needs to be changed in one position.
  * Even default colors (like blue, green, lime, etc)
  * can be changed here. 
  */
colors {
	bgColor:  rgb(132,143,96);
	brightBgColor:  rgb(238,241,229);
	translucentBgColor:  argb(130, 238,241,229);
	brightFontColor: rgb(238,241,229);
	fontColor: rgb( 30, 85, 86 );
}




/********************** main screen ************************************************************************************/


/**
  * The title style is a predefined style which is used
  * for all screen-titles.
  */
title {
	inherit: false;
	padding: 2;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 0;
	margin-right: 0;
	font-face: proportional;
	font-size: large;
	font-style: bold;
	font-color: brightFontColor;
	background-color: bgColor;
	border: none;
	layout: horizontal-center | horizontal-expand;
}


/** 
  * The .mainScreen style is a static style, which
  * is set in the MIDlet source-code with the //#style directive.
  * If the source-code would not have defined this
  * style, we could use the dynamic style "list" to design all
  * list-screens. 
  * An interesting attribute is the "columns" attribute which
  * is used to use a table with two columns instead of the default
  * layout.
  */
.mainScreen {
	inherit: false;
	padding: 5%;
	background {
		color: brightBgColor;
	}
	layout: horizontal-expand | horizontal-center | vertical-center;
	columns: 2;
	columns-width: equal; 
	/* columns-width: 40%, 60%; */
	
}

.mainCommand {
	inherit: false;
	margin: 2px;
	padding: 5px;
	font-color: fontColor;
	font-style: bold;
	font-size: small;
	icon-image: url( icon%INDEX%.png );	
	icon-image-align: top;
	layout: center | expand;
}

.mainCommand:hover {
	inherit: false;
	margin: 0px;
	background {
		type: round-rect;
		arc: 8;
		color: brightBgColor;
		border-color: fontColor;
		border-width: 2px;
	}
}

/********************** alerts ************************************************************************************/

alert extends .mainScreen {
	inherit: false;
}

alertcontent {
	inherit: false;
	font-color: fontColor;
	font-size: small;
	font-style: bold;
}

.loadGameAlert {
	inherit: false;
	margin: 20;
	padding: 5;
	padding-left: 15;
	padding-right: 15;
	layout: horizontal-expand | horizontal-center | vertical-center;
	background-color: argb( 200, 255, 255, 255 ); /*translucentBgColor; */
	show-dismiss-command: false;
}



/********************** commands menu ************************************************************************************/

/**
  * the menu style is a predefined style for
  * designing the fullscreen-menu.
  * The font-settings (font-color,
  * font-face, font-style and font-size)
  * are used to design the menu-texts
  * (like Options, Select, or Cancel).
  * The menubar-color can be set to any
  * color. When "transparent" is used,
  * the background shines through.
  */
menu {
	inherit: false;
	margin-left: 2;
	padding: 2;
	background {
		type: round-rect;
		color: brightBgColor;
		border-width: 2;
		border-color: bgColor;
	}
	font-color: brightFontColor;
	font-style: bold;
	menubar-color: bgColor;
	view-type: slide-up;
	min-width: 65%;
}

/**
  * The menuItem style is a predefined style
  * for the actual commands in a fullscreen-menu.
  * When the menuItem style is not defined,
  * the menu style will be used instead. 
  */
menuItem {
	inherit: false;
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	font {
		color: fontColor;
		size: medium;
		style: bold;
	}
	layout: left;
}

/**
  * This is a custom style for selected
  * menu items. It is used, because it has
  * been defined in the menu style. 
  */
.menuItem:hover {
	inherit: false;
	background-color: bgColor;
	font-color: brightFontColor;
	layout: left | horizontal-expand;
}
